.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.s__spacer {
  flex: 1; }

.s__no-padding {
  padding: 0 !important; }

.s__no-margin {
  margin: 0 !important; }

.s__flex-align-center {
  display: flex;
  justify-content: center; }

p {
  text-align: justify;
  font-weight: 300; }

h1 {
  font-weight: 700;
  font-size: 24px !important; }

h2 {
  font-weight: 700;
  font-size: 20px !important; }

h3 {
  font-weight: 700;
  font-size: 18px !important; }

h4 {
  font-weight: 700;
  font-size: 16px !important; }

h5 {
  font-weight: 700;
  font-size: 14px !important; }

h6 {
  font-weight: 700;
  font-size: 12px !important; }

.s__landing-top-body-text {
  font-size: 20px;
  font-weight: 300; }

.s__page-section-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  text-align: center; }

.s__page-section-text {
  text-align: justify;
  font-size: 20px;
  font-weight: 300; }

.s__feature-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: block; }

.s__feature-text {
  font-size: 18px;
  text-align: center;
  display: block; }

.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.s__root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF; }

.s__foreground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.s__icon-button, .s__toolbar .s__toolbar-open-sidenav, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: inherit; }
  .s__icon-button:hover, .s__toolbar .s__toolbar-open-sidenav:hover, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav:hover {
    background: rgba(0, 121, 107, 0.2); }
  .s__icon-button i, .s__toolbar .s__toolbar-open-sidenav i, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav i {
    font-size: 24px;
    line-height: 36px;
    color: inherit; }

.s__toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  transition: all .2s linear;
  padding: 0 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #009688;
  color: #FFFFFF; }
  @media screen and (max-width: 479px) {
    .s__toolbar {
      height: 56px; } }
  @media screen and (min-width: 480px) and (max-width: 839px) {
    .s__toolbar {
      height: 64px; } }
  @media screen and (min-width: 840px) {
    .s__toolbar {
      height: 80px; } }
  .s__toolbar.s__toolbar-transparent {
    background-color: rgba(0, 150, 136, 0);
    box-shadow: none; }
  @media screen and (min-width: 840px) {
    .s__toolbar .s__toolbar-open-sidenav {
      display: none !important; } }
  .s__toolbar .s__toolbar-title {
    font-weight: 900;
    color: inherit; }
    @media screen and (max-width: 479px) {
      .s__toolbar .s__toolbar-title {
        font-size: 16px; } }
    @media screen and (min-width: 480px) and (max-width: 839px) {
      .s__toolbar .s__toolbar-title {
        font-size: 20px; } }
    @media screen and (min-width: 840px) {
      .s__toolbar .s__toolbar-title {
        font-size: 24px; } }
  .s__toolbar .s__toolbar-menu-item {
    padding: 0 20px;
    font-weight: 700;
    text-decoration: none;
    color: inherit; }
    @media screen and (max-width: 479px) {
      .s__toolbar .s__toolbar-menu-item {
        line-height: 56px; } }
    @media screen and (min-width: 480px) and (max-width: 839px) {
      .s__toolbar .s__toolbar-menu-item {
        line-height: 64px; } }
    @media screen and (min-width: 840px) {
      .s__toolbar .s__toolbar-menu-item {
        line-height: 80px; } }
    @media screen and (max-width: 839px) {
      .s__toolbar .s__toolbar-menu-item {
        display: none !important; } }
    .s__toolbar .s__toolbar-menu-item:hover {
      background: rgba(38, 166, 154, 0.2); }
    .s__toolbar .s__toolbar-menu-item.active {
      padding-top: 4px;
      border-bottom-width: 4px;
      border-bottom-color: #FF4081;
      border-bottom-style: solid; }
      @media screen and (max-width: 479px) {
        .s__toolbar .s__toolbar-menu-item.active {
          line-height: 48px; } }
      @media screen and (min-width: 480px) and (max-width: 839px) {
        .s__toolbar .s__toolbar-menu-item.active {
          line-height: 56px; } }
      @media screen and (min-width: 840px) {
        .s__toolbar .s__toolbar-menu-item.active {
          line-height: 72px; } }
  .s__toolbar a {
    margin: 0 5px; }

.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.s__icon-button, .s__toolbar .s__toolbar-open-sidenav, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: inherit; }
  .s__icon-button:hover, .s__toolbar .s__toolbar-open-sidenav:hover, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav:hover {
    background: rgba(0, 121, 107, 0.2); }
  .s__icon-button i, .s__toolbar .s__toolbar-open-sidenav i, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav i {
    font-size: 24px;
    line-height: 36px;
    color: inherit; }

.s__sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  background: #FFFFFF;
  transition: left .15s linear;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  @media screen and (min-width: 840px) {
    .s__sidenav {
      display: none !important; } }
  .s__sidenav.s__sidenav-hided {
    left: -250px; }
  .s__sidenav .s__sidenav-header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #00796B;
    color: #FFFFFF; }
    @media screen and (max-width: 479px) {
      .s__sidenav .s__sidenav-header {
        height: 56px; } }
    @media screen and (min-width: 480px) and (max-width: 839px) {
      .s__sidenav .s__sidenav-header {
        height: 64px; } }
    @media screen and (min-width: 840px) {
      .s__sidenav .s__sidenav-header {
        height: 80px; } }
  .s__sidenav .s__sidenav-content {
    display: flex;
    flex-direction: column; }
    .s__sidenav .s__sidenav-content .s__sidenav-menu-item {
      display: flex;
      align-items: center;
      padding: 0 20px;
      padding-left: 24px;
      text-decoration: none;
      color: #000000; }
      @media screen and (max-width: 479px) {
        .s__sidenav .s__sidenav-content .s__sidenav-menu-item {
          line-height: 56px; } }
      @media screen and (min-width: 480px) and (max-width: 839px) {
        .s__sidenav .s__sidenav-content .s__sidenav-menu-item {
          line-height: 64px; } }
      @media screen and (min-width: 840px) {
        .s__sidenav .s__sidenav-content .s__sidenav-menu-item {
          line-height: 80px; } }
      .s__sidenav .s__sidenav-content .s__sidenav-menu-item:hover {
        background-color: rgba(0, 150, 136, 0.1); }
      .s__sidenav .s__sidenav-content .s__sidenav-menu-item.active {
        color: #FF4081;
        padding-left: 20px;
        border-left-width: 4px;
        border-left-color: #FF4081;
        border-left-style: solid; }
      .s__sidenav .s__sidenav-content .s__sidenav-menu-item i {
        margin-right: 20px; }

.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.s__page-content {
  position: fixed;
  padding-top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto; }
  @media screen and (max-width: 479px) {
    .s__page-content {
      top: 56px; } }
  @media screen and (min-width: 480px) and (max-width: 839px) {
    .s__page-content {
      top: 64px; } }
  @media screen and (min-width: 840px) {
    .s__page-content {
      top: 80px; } }
  .s__page-content .s__page-section {
    padding: 20px 0;
    margin: 20px 0;
    overflow: visible; }

.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.s__icon-button, .s__toolbar .s__toolbar-open-sidenav, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  color: inherit; }
  .s__icon-button:hover, .s__toolbar .s__toolbar-open-sidenav:hover, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav:hover {
    background: rgba(0, 121, 107, 0.2); }
  .s__icon-button i, .s__toolbar .s__toolbar-open-sidenav i, .s__sidenav .s__sidenav-header .s__toolbar-close-sidenav i {
    font-size: 24px;
    line-height: 36px;
    color: inherit; }

.shadow-0 {
  box-shadow: none; }

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* MIXINS */
.s__landing-top-background-image {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #00796B; }
  .s__landing-top-background-image .s__landing-top-background-image-over-layer {
    content: "";
    background: url("../img/background.svg") center/cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5; }

.s__landing-title-container {
  position: absolute;
  height: 80vh; }
  @media screen and (max-width: 479px) {
    .s__landing-title-container {
      top: 56px; } }
  @media screen and (min-width: 480px) and (max-width: 839px) {
    .s__landing-title-container {
      top: 64px; } }
  @media screen and (min-width: 840px) {
    .s__landing-title-container {
      top: 80px; } }
  .s__landing-title-container .s__landing-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80vh;
    z-index: 1; }
    @media screen and (max-width: 479px) {
      .s__landing-title-container .s__landing-title {
        font-size: 24px; } }
    @media screen and (min-width: 480px) and (max-width: 839px) {
      .s__landing-title-container .s__landing-title {
        font-size: 36px; } }
    @media screen and (min-width: 840px) {
      .s__landing-title-container .s__landing-title {
        font-size: 72px; } }
  .s__landing-title-container .s__landing-title > div {
    width: 100%; }
  .s__landing-title-container .s__landing-title .s__landing-title-text {
    width: 100%; }
    .s__landing-title-container .s__landing-title .s__landing-title-text .bold {
      font-weight: bold; }
    .s__landing-title-container .s__landing-title .s__landing-title-text .s__landing-title .thin {
      font-weight: 200; }

.s__landing-content {
  margin-top: 80vh;
  min-height: 240px;
  background: #FFFFFF; }

/*# sourceMappingURL=soft.css.map */
