@import './_defaults.scss';

.#{$namespace}spacer {
    flex: 1;
}

.#{$namespace}padding {
    padding: $padding !important;
}

.#{$namespace}no-padding {
    padding: 0 !important;
}

.#{$namespace}no-margin {
    margin: 0 !important;
}

.#{$namespace}flex-align-center {
    display: flex;
    justify-content: center;
}

.#{$namespace}center-aligned {
    display: flex;
    justify-content: center;
    flex-direction: column;
}