@import './_defaults.scss';

.#{$namespace}landing-top-background-image {
    height: 90vh;
	position: absolute;
	top: 0;
	left: 0; right: 0;
	z-index: -1;
    background-color: $color-primary-dark;

    .#{$namespace}landing-top-background-image-over-layer {
        content: "";
        background: url("../img/landing-image.png") center / cover;
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        opacity: 0.5;
    }
}

.#{$namespace}landing-title-container {
    position: absolute;
    @include responsive(top, $toolbar-height-phone, $toolbar-height-tablet, $toolbar-height-desktop);
    height: 60vh;

    .#{$namespace}landing-title {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 60vh;
        z-index: 1;

        @include responsive(font-size, 24px, 36px, 72px);
        
        & > div {
            width: 100%;
        }
        
        .#{$namespace}landing-title-text {
            width: 100%;
            
            .bold {
                font-weight: bold;
            }

            .#{$namespace}landing-title .thin {
                font-weight: 200;
            }
        }

        .#{$namespace}landing-subtitle-text {
            font-weight: bold;
            @include responsive(font-size, 14px, 16px, 24px);
            display: block;
        }

        .#{$namespace}landing-text {
            font-weight: 300;
            @include responsive(text-align, center, left, left);
            @include responsive(max-width, 300px, 300px, 500px);
            @include responsive(font-size, 10px, 12px, 18px);
            margin: auto;
            display: block;

            &.with-margin {
                @include responsive(padding-left, 0, 100px, 100px); 
            }
        }
    }

}

.#{$namespace}landing-content {
    margin-top: 60vh;
    margin-bottom: 0 !important;
    min-height: 240px;
    background: $color-primary-background;
    position: relative;

    .#{$namespace}landing-left-phone {
        position: absolute;
        @include hide-in-phone;
        //@include responsive(height, 100px, 300px, 480px); 
        @include responsive(top, 100px, -150px, -240px); 
    }

}

.#{$namespace}landing-section {
    @include responsive(padding, 20px !important, 40px !important, 40px !important);

    .#{$namespace}landing-section-title {
        @include responsive(font-size, 18px, 20px, 24px);
        font-weight: 300;
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: $margin * 2;
    }  
}

.#{$namespace}landing-video-section {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    iframe {
        @include responsive(height, 180px, 270px, 360px);
        @include responsive(width, 320px, 480px, 640px);
        margin: auto;
    }
}

.#{$namespace}landing-feature-icon {
    @include responsive(height, 96px, 128px, 200px);
    @include responsive(width, 96px, 128px, 200px);
    border-radius: 50%;
    margin: auto;
    margin-bottom: $margin * 2;
    i {
        @include responsive(width, 96px, 128px, 200px);
        @include responsive(line-height, 96px, 128px, 200px);
        @include responsive(font-size, 72px, 96px, 160px);

        text-align: center;
        color: #FFFFFF;
    }
}

.#{$namespace}landing-feature-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    display: block;
    margin-bottom: $margin * 2;
}

.#{$namespace}landing-feature-text {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}