@import './_defaults.scss';
@import './_icon-button.scss';

.#{$namespace}toolbar {

    position: fixed;
    top: 0; 
    left: 0; right: 0;
    display: flex;
    align-items: center;
    transition: all .2s linear;
    padding: 0 $padding / 2;
    
    @include responsive(height, $toolbar-height-phone, $toolbar-height-tablet, $toolbar-height-desktop);
    @include shadow(2);

    @if $toolbar-theme == dark {
        background-color: rgba($color-primary, 1.0);
        color: $color-text-light;
        &.#{$namespace}toolbar-transparent {
            background-color: rgba($color-primary, 0.0);
            box-shadow: none;
        }
    } @else if $toolbar-theme == light {
        background-color: rgba($white, 1.0);
        color: $color-primary;
        &.#{$namespace}toolbar-transparent {
            background-color: rgba($white, 0.0);
            box-shadow: none;
        }
    }

    .#{$namespace}toolbar-open-sidenav {
        @extend .#{$namespace}icon-button;
        @include hide-in-desktop;
    }

    .#{$namespace}toolbar-title {
        @include responsive(
            font-size, 
            $toolbar-font-size-phone,
            $toolbar-font-size-tablet,
            $toolbar-font-size-desktop
        );     
        font-weight: $font-black; 
        color: inherit;  
    }

    .#{$namespace}toolbar-logo {
        
        transition: all .2s linear;
        @include responsive(
            height, 
            $toolbar-height-phone - $padding,
            $toolbar-height-tablet - $padding,
            $toolbar-height-desktop - $padding
        );  

        &.#{$namespace}toolbar-logo-large {
            @include responsive(
                height, 
                $toolbar-height-phone * 1.3 - $padding,
                $toolbar-height-tablet * 1.3 - $padding,
                $toolbar-height-desktop * 1.3 - $padding
            );  
            margin-top: $margin;
        }
    }

    .#{$namespace}toolbar-menu-item {
        @include responsive(line-height, $toolbar-height-phone, $toolbar-height-tablet, $toolbar-height-desktop);
        @include show-in-desktop;

        padding: 0 $padding;
        font-weight: $font-light;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        color: inherit;

        &:hover {
            background: rgba($color-primary-light, 0.2);
        }

        &.active {

            padding-top: $toolbar-line-width;

            @include responsive(
                line-height, 
                $toolbar-height-phone - $toolbar-line-width * 2, 
                $toolbar-height-tablet - $toolbar-line-width * 2, 
                $toolbar-height-desktop - $toolbar-line-width * 2);

            border-bottom: {
                width: $toolbar-line-width;
                color: $color-accent;
                style: solid;
            } 

        }
    }

    a {
        margin: 0 $margin/4;
    } 

}